<div class="jumbotron mt-4">
        <h1 class="display-4">Tendedero virtual</h1>
        <p class="lead">Chat para denunciar acoso</p>
        <hr class="my-4">
        <p>
        Que es un 
        
        </p>
        <a href="https://www.proceso.com.mx/nacional/2020/3/8/el-dia-que-los-tendederos-hablaron-contra-la-violencia-de-genero-239582.html" class="btn btn-primary btn-lg">Tendedero</a>
</div>
   