<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <font color="white"><h1>
          hola
          {{#each user}}
         {{nombre}}
         {{/each}}
          </h1>
          </font>
          <div class="conteiner">
            <div class="col-md-6 mt-4">
              <div class="card">
                <div class="card-header">
                  <g4>Chat</g4>
                </div>
                <div id="chat"class="card-body"></div>
                <form class="card-footer" id="message-form">
                  <div class="input-group">
                  <input type="text" id="message" class="from-control">
                  <div class="input-group-append">
                  <input type="submit" class="btn btn-primary">
                  </div>
                </div>
                </form>

                </div>
              </div>
            </div>
          </div>
        
        